*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main{ 
    padding: 3px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    display: block;
}

.caja-completa{
    background-color: #AED6F1;
    box-shadow: 0px 0px 10px #85C1E9;
}

#Registro-Usuario{
    border: solid 2px white;
    padding: 2vw;
    font-family: 'Magra', sans-serif;
}

.titulo{
    display: flex;
    justify-content: space-between;
    border: solid 2px white;
    margin: 5px 0 5px 0;
}

h1{
    color: #2471A3;
    counter-reset: rgb(22, 22, 22);
    font-family: 'Magra', sans-serif;
    text-decoration: white;
    padding: 15px;
    padding-top: 7vw;
    margin-right: 16vh;
    font-size: 20px;
    position: static
}

main form input{
    padding: 5px;
    width: 45%;
    border: solid 2px #ebebeb;
    align-items: center;
}

.login-completo{
    border: solid 2px white;
    padding: 2vw;
    font-family: 'Magra', sans-serif;
    text-align: center;
    border: solid 2px white;
}

.boton-formulario{
    font-family: 'Magra', sans-serif;
    font-size: 20px;
    background-color: #5499C7;
    border: solid 2px white;
    margin-right: 20px;
    padding: 5px;
    width: 30v;
    color: #F6DDCC;
}

.logo{
    width: 18vw;
    position: static;
    margin: 5px;
}

p{
    margin-top: 10px;
}
.is-invalid{
    border: solid 1px #1A5276;
}

.is-valid{
    border: solid 1px #85C1E9 ;
}

div.errores{
    color: #065b91;
    padding: 2vw;
    font-family: 'Magra', sans-serif;
}

@media(min-width: 481px){
    main{
        padding: 15px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
    }

    .caja-completa{
        background-color: #AED6F1;
        box-shadow: 0px 0px 10px #85c1e9;
    }

    h1{
        padding-top: 8vw;
        margin-right:24vh;
    }
} 

@media(min-width: 769px) {
    main{
        padding: 15px;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 45px;
    }

    .logo{
        width: 15vw;
    }

    h1{
        margin-right: 18vh;
        font-size: 26px;
    }
}


@media(min-width:1100px){
    .logo{
        width: 10vw;
        height: auto;
        position: relative;
        top: 0vw;
    }

    h1{
        margin-right: 50vh;
        font-size: 30px;
        padding-top: 4vw;
    }
}